@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome To LechutiMarketing</h1>
    <p>Register or log in to our service and start uploading and sharing images with your collegues</p>
</div>
