@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome To LechutiMarketing</h1>
    <p>Register or log in to our service and start uploading and sharing images with your collegues</p>
</div>

<style type="text/css">
    .on-the-fly-behavior {
        background-image: url('/wwwroot/images/brownlechuti@gmail.come73585fd-e351-4db4-9174-9c9a60998441_013.jpg');
    }

    @@media (max-width: 200px) {
        .on-the-fly-behavior {
            background-image: url('/wwwroot/images/brownlechuti@gmail.come73585fd-e351-4db4-9174-9c9a60998441_013.jpg');
        }
    }
</style>