@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome To LechutiMarketing</h1>
    <p>Register or log in to our service and start uploading and sharing images with your collegues</p>
</div>

<style type="text/css">
    .on-the-fly-behavior {
        background-image: url('https://brownlechuti.w3spaces.com/Data_files/013.jpg');
    }

    @@media (max-width: 180px) {
        .on-the-fly-behavior {
            background-image: url('https://brownlechuti.w3spaces.com/Data_files/013.jpg');
        }
    }
</style>